{
  "extends": [
    "@nyxb"
  ],
  "rules": {
    "no-console": 0,
    "@typescript-eslint/ban-ts-comment": 0,
    "@next/next/no-html-link-for-pages": 0
  },
  "settings": {
    "react": {
      "version": "16.0"
    }
  }
}
